<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="GISTo_1C.svcGPSData">
        <endpoint address="" binding="basicHttpBinding" contract="GISTo_1C.IsvcGPSData">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://cfstat-iis.kernel.local:19001" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <appSettings>
    <add key="WialonSDK" value="http://193.33.45.4:8026/ajax.html"/>
    <add key="MAG_IsTestData" value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="gpsDataSQL" connectionString="Server=Nimble.kernel.local;Database=AgroGISTest;uid=adf;pwd=Chicago2010"/>
    <add name="AgroGIS" connectionString="Server=Nimble.kernel.local;Database=AgroGIS;uid=adf;pwd=Chicago2010"/>
    <add name="CadastrSQL" connectionString="Server=kno-sql-01.kernel.local;Database=T1;uid=adf;pwd=Chicago2010"/>
    <add name="InvoiceDatabase" connectionString="Server=s-sql01-kiev.kernel.local;Database=AgroGIS;uid=agrouser;pwd=L5iO98zjgzVtipVpO6YM"/>
  </connectionStrings>
</configuration>